.row
  .span12
    %br
    %br
    .main-tag About
    %br
    %br
    %div
      %h3.thin
        Pykih reader is an open source RSS feed reader. It is a free and fast google reader alternative.
        %br
        %br
        Google plans to shutdown it`s reader service on 1st July, 2013 leaving a lot of people frustrated. To help you keep using your google reader subscriptions, we at pykih came up with our reader service. You can use your existing google account to login into pykih servers and start subscribing!
        %br
        %br
        Pykih reader is still in public beta so any help in further developing the service is welcome. Join us at  https://github.com/pykih/reader. To contact us, drop an email at 
        = mail_to "rp@pykih.com"
        We would love to hear your feedback!
        %br
        %br
        Know more about us at
        = link_to "www.pykih.com", "http://www.pykih.com", target: "_blank"
    %br
    %br
    %h2 Contributors
    %br
    %h4.thin
      %table.table.table-striped
        %tr
          %td Mihir Modi
          %td= link_to "@mihirmodi", "http://twitter.com/mihirmodi", target: "_blank", class: "red"
          %td.gray Branding, Marketing and Design
        %tr
          %td Arun Kumar
          %td= link_to "GitHub:arunkumar1ly", "https://github.com/arunkumar1ly", target: "_blank", class: "red"
          %td.gray Developer
        %tr
          %td Pykih Software Team
          %td= link_to "www.pykih.com", "www.pykih.com", target: "_blank", class: "red"
          %td.gray Developer
      Want to contribute? Email us at 
      = mail_to "rp@pykih.com"
      %br
      %br
    %br
    %br
  