%li{style: f.is_read ? "background-color: #EAEAEA;" : "background-color: white;", id: f.id}
  %table
    %tr              
      %td.span1.top
        %table
          %tr
            %td
              = link_to image_tag("stars/#{f.current_star}.png"), update_star_user_my_entries_path(current_user, :id => f.id) , method: :put, remote: true, id: "starred_image_link_#{f.id}"  
            %td
              - if f.is_to_read
                = link_to image_tag("mark_read.png"), mark_to_read_user_my_entries_path(current_user, :id => f.id, is_to_read: false), method: :put, id: "mark_read_link_#{f.id}", remote: true
              - else
                = link_to image_tag("mark_to_read.png"), mark_to_read_user_my_entries_path(current_user, :id => f.id, is_to_read: true), method: :put, id: "mark_read_link_#{f.id}", remote: true
      %td.span10
        #comments
          %a{class: "fetchFeed", id: f.id, user: current_user.id}
            .comment-header
              - if !feed_title(f).blank?
                = feed_title(f).html_safe
          .comment-body
            = render partial: "feed_details"
            
      %td.span2.f11.gray.right.top
        = sd(f.published_at)
        = link_to "<i class='icon-share-alt'></i>".html_safe, user_my_entry_path(current_user, f), target: "_blank"