.row
  .span3{style: "height: 600px; overflow-y: scroll; "}
    = link_to "All Feeds (#{@total_subscriptions})", user_path(current_user), style: @home.blank? ? "color: black;" : "font-weight: bold; color: black;"
    %br
    - if !@tags.first.blank?
      - @tags.each do |t|
        - apps = t.tag_entries
        - if !apps.blank?
          - if !apps.first.blank?
            %br
            %b= t.name
            %ul.nav.nav-tabs.nav-stacked.sidebar
              - apps.each do |rr|
                - r = rr.my_feed
                - if !r.blank?
                  %li.f11{class: @akid == r.id.to_s ? "active" : nil}
                    %table
                      %tr
                        %td.span1
                          .dropdown
                            %a{class: "dropdown-toggle", id: "dLabel#{r.id}", "data-toggle"=>"dropdown", href: "#"} 
                              %b.caret
                            %ul{class: "dropdown-menu", role: "menu", "aria-labelledby"=>"dLabel#{r.id}"}
                              %li= link_to "Refresh", request_fetch_user_my_feed_path(current_user, r), style: "font-size: 12px; padding: 2px 5px;"
                              %li= link_to "Unsubscribe",  user_my_feed_path(current_user, r), :method => :delete, :data => { :confirm => t("delete.c") }, style: "font-size: 12px; padding: 2px 5px;"
                        %td.span2
                          %a{href: user_path(current_user, :akid => r.id), style: "padding: 0px; margin: 0px;"}= image_tag r.favicon
                        %td &nbsp;&nbsp;
                        %td.span9.black
                          %a{href: user_path(current_user, :akid => r.id), style: "padding: 0px; margin: 0px;"}= feed_name(@user, r).html_safe

    - if !@without_tags.first.blank?
      %br
      %b Subscriptions
      %ul.nav.nav-tabs.nav-stacked{id: "2"}
        - @without_tags.each do |r|
          - if !r.blank?
            %li.f11{class: @akid == r.id.to_s ? "active" : nil}
              %table
                %tr
                  %td.span1
                    .dropdown
                      %a{class: "dropdown-toggle", id: "dLabel#{r.id}", "data-toggle"=>"dropdown", href: "#"} 
                        %b.caret
                      %ul{class: "dropdown-menu", role: "menu", "aria-labelledby"=>"dLabel#{r.id}"}
                        %li= link_to "Refresh", request_fetch_user_my_feed_path(current_user, r), style: "font-size: 12px; padding: 2px 5px;"
                        %li= link_to "Unsubscribe",  user_my_feed_path(current_user, r), :method => :delete, :data => { :confirm => t("delete.c") }, style: "font-size: 12px; padding: 2px 5px;"
                  %td.span2
                    %a{href: user_path(current_user, :akid => r.id), style: "padding: 0px; margin: 0px;"}= image_tag r.favicon
                  %td &nbsp;&nbsp;
                  %td.span9.black
                    %a{href: user_path(current_user, :akid => r.id), style: "padding: 0px; margin: 0px;"}= feed_name(@user, r).html_safe

  .span9
    .right
      - if current_user.is_admin?
        = link_to "Admin", admin_user_path(current_user), class: "red"
        &nbsp;&nbsp;
        = link_to "Jobs", job_user_path(current_user), class: "red"
        &nbsp;&nbsp;
        = switch_user_select
        &nbsp;&nbsp;
      = link_to "Subscribe", "#myModal1", :role => "button", "data-toggle"=>"modal", class: "btn btn-danger"  
    %b.red Help: If you do not see your feeds, simply refresh your page.
    - if @entries.first.blank? 
      .f11 No RSS entries found.
    - else
      %ul.feed
        - @entries.each do |f|
          %li{style: f.is_read ? "background-color: #EAEAEA;" : "background-color: white;", id: f.id}
            %table
              %tr              
                %td.span1.top
                  %table
                    %tr
                      %td
                        = link_to image_tag("stars/#{f.current_star}.png"), update_star_user_my_entries_path(current_user, :id => f.id) , method: :put, remote: true, id: "starred_image_link_#{f.id}"  
                      %td
                        - if f.is_to_read
                          = link_to image_tag("mark_read.png"), mark_to_read_user_my_entries_path(current_user, :id => f.id, is_to_read: false), method: :put, id: "mark_read_link_#{f.id}", remote: true
                        - else
                          = link_to image_tag("mark_to_read.png"), mark_to_read_user_my_entries_path(current_user, :id => f.id, is_to_read: true), method: :put, id: "mark_read_link_#{f.id}", remote: true
                %td.span10
                  #comments
                    %a{href: user_path(current_user, entry: f, anchor: f.id, :akid => @akid, r: @to_read, s: @is_star, h: @history)}
                      .comment-header
                        = feed_title(f).html_safe
                    .comment-body{id: f.id}
                      - if !(@feed_article.blank? or (f.id != @feed_article.id and !@feed_article.blank?))
                        - if !f.name.blank?
                          %h3= link_to f.name, user_my_entry_path(current_user, f), target: "_blank", class: "red"
                        - if f.id == @feed_article.id
                          - if !@feed_article.content.blank?
                            %br
                            = @feed_article.content.to_s.html_safe
                          - elsif !@feed_article.summary.blank?
                            %br
                            = @feed_article.summary.to_s.html_safe
                        %br
                        %br
                        %span{class: "st_facebook_hcount", "displayText"=>'Facebook', st_url: @feed_article.url, st_title: "pykih reader: #{@feed_article.name}", st_summary: @feed_article.summary, st_image: @feed_article.my_feed.favicon}
                        %span{class: "st_twitter_hcount", "displayText"=>'Tweet', st_url: @feed_article.url, st_title: @feed_article.name, st_summary: @feed_article.summary, st_image: @feed_article.my_feed.favicon, st_via: "pykih"}
                %td.span2.f11.gray.right.top
                  = sd(f.published_at)
                  = link_to "<i class='icon-share-alt'></i>".html_safe, user_my_entry_path(current_user, f), target: "_blank"

      %br
      = paginate @entries

#myModal1.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-body
    = render partial: "my_feeds/form"