%row{class: "row marginT115"}
  %div{class: "span3", id: "leftPanel"}
    = link_to "All Feeds (#{@total_subscriptions})", user_path(current_user), style: @home.blank? ? "color: black;" : "font-weight: bold; color: black;"
    %br
    - if !@tags.first.blank?
      - @tags.each do |t|
        - apps = t.tag_entries
        - if !apps.blank?
          - if !apps.first.blank?
            %br
            %b= t.name
            %ul.nav.nav-tabs.nav-stacked.sidebar
              - apps.each do |rr|
                - r = rr.my_feed
                - if !r.blank?
                  %li.f11{class: @akid == r.id.to_s ? "active" : nil}
                    %table
                      %tr
                        %td.span1
                          .dropdown
                            %a{class: "dropdown-toggle", id: "dLabel#{r.id}", "data-toggle"=>"dropdown", href: "#"} 
                              %b.caret
                            %ul{class: "dropdown-menu", role: "menu", "aria-labelledby"=>"dLabel#{r.id}"}
                              %li= link_to "Refresh", request_fetch_user_my_feed_path(current_user, r), style: "font-size: 12px; padding: 2px 5px;"
                              %li= link_to "Unsubscribe",  user_my_feed_path(current_user, r), :method => :delete, :data => { :confirm => t("delete.c") }, style: "font-size: 12px; padding: 2px 5px;"
                        %td.span2
                          %a{href: user_path(current_user, :akid => r.id), style: "padding: 0px; margin: 0px;"}= image_tag r.favicon
                        %td &nbsp;&nbsp;
                        %td.span9.black
                          - if !feed_name(@user, r).blank?
                            %a{href: user_path(current_user, :akid => r.id), style: "padding: 0px; margin: 0px;"}= feed_name(@user, r).html_safe

    - if !@without_tags.first.blank?
      %br
      %b Subscriptions
      %ul.nav.nav-tabs.nav-stacked{id: "2"}
        - @without_tags.each do |r|
          - if !r.blank?
            %li.f11{class: @akid == r.id.to_s ? "active" : nil}
              %table
                %tr
                  %td.span1
                    .dropdown
                      %a{class: "dropdown-toggle", id: "dLabel#{r.id}", "data-toggle"=>"dropdown", href: "#"} 
                        %b.caret
                      %ul{class: "dropdown-menu", role: "menu", "aria-labelledby"=>"dLabel#{r.id}"}
                        %li= link_to "Refresh", request_fetch_user_my_feed_path(current_user, r), style: "font-size: 12px; padding: 2px 5px;"
                        %li= link_to "Unsubscribe",  user_my_feed_path(current_user, r), :method => :delete, :data => { :confirm => t("delete.c") }, style: "font-size: 12px; padding: 2px 5px;"
                  %td.span2
                    %a{href: user_path(current_user, :akid => r.id), style: "padding: 0px; margin: 0px;"}= image_tag r.favicon
                  %td &nbsp;&nbsp;
                  %td.span9.black
                    - if !feed_name(@user, r).blank?
                      %a{href: user_path(current_user, :akid => r.id), style: "padding: 0px; margin: 0px;"}= feed_name(@user, r).html_safe

  %div{class: "span9", id: "feedsHolder"}
    .right
      - if current_user.is_admin?
        = link_to "Admin", admin_user_path(current_user), class: "red"
        &nbsp;&nbsp;
        = link_to "Jobs", job_user_path(current_user), class: "red"
        &nbsp;&nbsp;
        = switch_user_select
        &nbsp;&nbsp;
      = link_to "Subscribe", "#myModal1", :role => "button", "data-toggle"=>"modal", class: "btn btn-danger"  
    %b.red Help: If you do not see your feeds, simply refresh your page.
    - if @entries.first.blank? 
      .f11 No RSS entries found.
    - else
      %ul.feed
        = render partial: "feeds", collection: @entries, as: :f

      %br
      %div{ id:"loading" }
      = paginate @entries

#myModal1.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-body
    = render partial: "my_feeds/form"